<ul class="list-unstyled sidenav-links">
  <li class="link-item"
    data-ng-repeat="link in vm.links track by $index"
    data-ng-init="link.expanded = (results.length == 1)"
    data-ng-class="link.expanded ? 'expanded' : ''"
    >
    <a class="btn" data-ng-click="vm.goto(link)">
        <i class="fa fa-circle fa-{{::link.icon}}" data-ng-if="!link.iconUrl"></i>
        <i class="link-iconurl" data-ng-if="link.iconUrl" style="background-image: url({{::link.iconUrl}})"></i>
        <span class="flex text-left">{{link.title}}</span>
        <i data-ng-if="link.links.length" class="fa fa-chevron-down" data-ng-class="{expanded: link.expanded}"></i>
    </a>
    <sublink data-ng-class="" expanded="link.expanded" da-ng-if="link.links.length" links="link.links"></sublink>
  </li>
</ul>
