<h1>Admin Page.</h1>
<p>Welcome to Administration page.</p>
<!-- <ul class="list-inline">
  <li class="list-inline-item" ng-class="{ active: $state.includes('dashboard') }"><a class="btn btn-default" ui-sref="dashboard">Dashboard</a></li>
  <li class="list-inline-item" ng-class="{ active: $state.includes('site-navigation') }"><a class="btn btn-default" ui-sref="site-navigation" >Site navigation</a></li>
</ul> -->

<div class="flex-row admin-card-wrap">

  <div class="card" >
      <div class="img-wrap">
          <i class="fa fa-user" ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Site Navigation</h5>
        <p class="card-text flex">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div><a href="#" class="btn btn-primary">Go to this page</a></div>
      </div>
  </div>

  <div class="card" >
      <div class="img-wrap">
          <i class="fa fa-tachometer-alt" ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Dashboard</h5>
        <p class="card-text flex">Get insights about your data.</p>
        <div><a href="#" class="btn btn-primary">Go to this page</a></div>
      </div>
  </div>

  <div class="card" >
      <div class="img-wrap">
          <img class="card-img-top" ng-src="assets/images/user-permission.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">Users accounts</h5>
        <p class="card-text flex">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div><a href="#" class="btn btn-primary">Go to this page</a></div>
      </div>
  </div>

  <div class="card" >
      <div class="img-wrap">
          <i class="fa fa-database" ></i>
      </div>
      <div class="card-body">
        <h5 class="card-title">Data Management</h5>
        <p class="card-text flex">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div><a href="#" class="btn btn-primary">Go to this page</a></div>
      </div>
  </div>

  <div class="card last2" >
      <div class="img-wrap">
          <i class="fa fa-server" ></i>
      </div>

      <div class="card-body">
        <h5 class="card-title">API Management</h5>
        <p class="card-text flex">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div><a href="#" class="btn btn-primary">Go to this page</a></div>
      </div>
  </div>

  <div class="card last2" >
      <div class="img-wrap">
          <img class="card-img-top" ng-src="assets/images/user-permission.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title flex">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div><a href="#" class="btn btn-primary">Go to this page</a></div>
      </div>
  </div>

</div>
